@model ParkManagementSystem.Web.Areas.Auth.Models.LoginModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<style>
    .background_div {
        background-image: url('@Url.Content("~/park/img/carousel-1.jpg")');
        background-size: cover;
        background-position: center;
        height: 100vh;
        
    }
    .login-form{
        background-color: lightgray;
        opacity: 0.8;
        border-radius: 40px 0 40px 0;
        height : 350px;
    }
</style>

<div class="background_div d-flex justify-content-center align-items-center">
    <div class="login-form p-2 col-md-4 ">
        <h2 class="text-secondary text-uppercase mb-4 text-center w-100">Login to Get Started</h2>
        <form asp-area="Auth" asp-controller="Account" asp-action="login" method="post">
            <div class="row g-4">
                <div class="col-12">
                    <input class="form-control border-0 py-2" id="email" placeholder="Your Email" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-12 col-xl-12 position-relative pl-2">
                    <input type="password" class="form-control border-0 py-2" id="password" placeholder="Your password" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
    
                    <!-- Toggle button -->
                    <a type="button" class="position-absolute top-50 end-0 translate-middle-y me-4" 
                            id="togglePassword">
                        <span class="fa fa-eye"></span>
                    </a>
                </div>

                <div class="col-12">
                    <label for="rememberMe"><input type="checkbox" id="rememberMe" asp-for="RememberMe" /> Remember Me</label>
                </div>
                <div class="col-12">
                    <input asp-for="ReturnUrl" hidden> 
                    <button type="submit" class="btn btn-secondary w-100 py-2 px-5">Sign In</button>
                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div style="color:red">
                        @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    </div>
                }
            </div>
        </form>
    </div>
    
</div>
<script>
    const togglePassword = document.getElementById('togglePassword');
    const passwordInput = document.getElementById('password');

    togglePassword.addEventListener('click', function () {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.innerHTML = type === 'password' ? '<span class="fa fa-eye"></span>' : '<span class="fa fa-eye-slash"></span>';
    });
</script>
